<!DOCTYPE html>
<html>
	<head>
		<title>Stuyvesant Junior Caucus Study Guides</title>
	</head>
	<body>
		<h1>Stuyvesant Junior Caucus Study Guides</h1>
		<p>Hello! You've stumbled upon our secondary site, which maintains our study guides. You can go <a href="https://stuyjuniorcaucus.github.io/study_guides.html">back to the main page</a>, or submit a study guide here (the form here is usually used for testing purposes, and is identical to the one on the main site minus a few additions that aren't completely vital to its function.</p>
		<form action="/submit" method="POST">
			<label>
				Study Guide Name: <input type="text" name="title">
			</label><br/>
			<label>
				Study Guide Subject: <input type="text" name="subject">
			</label><br/>
			<label>
				Your Name: <input type="text" name="submittedBy">
			</label><br/>
			<label>
				Your Email: <input type="email" name="email">
			</label><br/>
			<label>
				Study Guide Link: <input type="url" name="link">
			</label><br/>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
